@use "../../config/" as config;

.m-article-list {

    padding: 115px 0;

    &_title {
        @include config.title01;
    }

    &_lead {
        font-size: 28px;
        text-align: center;
        margin-top: 36px;
    }

    &_inner {
        display: flex;
        flex-wrap: wrap;
        gap: 65px;
        justify-content: center;
        margin-top: 90px;
    }
}

.m-article-box {
    max-width: 370px;
    width: 100%;
    &_image {
        img {
            width: 100%;
        }
    }

    &_title {
        font-size: 28px;
        margin-top: 38px;
        font-weight: normal;
        text-align: center;
    }

    &_text {
        font-size: 22px;
        font-weight: normal;
        margin-top: 24px;
    }
}