@use "../../config/" as config;

.m-article-list {
    padding: 115px 50px;

    @include config.breakpoint {
        padding: 50px 20px;
    }

    &.partners {
        padding-bottom: 200px;
    }

    &_title {
        @include config.title01;
    }

    &_lead {
        @include config.title02;
        text-align: center;
        margin-top: 36px;

        @include config.breakpoint {
            margin-top: 18px;
        }
    }

    &_slider {
        position: relative;
    }

    &_inner {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin: 90px auto 0;
        max-width: 1400px;

        &.top {
            max-width: 1200px;
        }

        &.slick {
            gap: 0;

            .m-article-box {
                margin: 0 25px;

                @include config.breakpoint-large {
                    margin: 0 10px;
                }

                @include config.breakpoint-medium {
                    margin: 0 10px;
                }

                @include config.breakpoint-small {
                    margin: 0 15px;
                }
            }
        }

        @include config.breakpoint-large {
            gap: 30px 20px;
        }

        @include config.breakpoint-medium {
            gap: 30px 20px;
        }

        @include config.breakpoint-small {
            gap: 30px;
        }

        @include config.breakpoint {
            gap: 32px;
            margin-top: 45px;
        }
    }

    &_prev,
    &_next {
        background: none;
        border: none;
        position: absolute;
        top: 30%;
    }

    &_prev {
        left: -35px;
    }

    &_next {
        right: -35px;
    }
}

.m-article-box {    
    width: calc(100%/3 - 33.4px);
    position: relative;

    @include config.breakpoint-large {
        width: calc(100%/3 - 13.33333px);
    }

    @include config.breakpoint-medium {
        width: calc(50% - 10px);
    }

    @include config.breakpoint-small {
        width: 100%;
    }

    &.partner {
        .m-article-box_title {
            margin-top: 28px;
            text-align: left;

            @include config.breakpoint {
                margin-top: 19px;
            }
        }
    }

    &_link {
        &:hover,
        &:focus {
            color: config.$base-taxt-pink;
        }
    }

    &_thumb {
        position: relative;
        width: 100%;
        &::before {
            content: "";
            padding-top: 100%;
            display: block;
        }

        .thumb {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

        }
    }

    &_image {
        img {
            width: 100%;
        }
    }

    &_title {
        @include config.title02;
        margin-top: 38px;
        text-align: center;

        @include config.breakpoint {
            margin-top: 19px;
        }
    }

    &_text {
        @include config.lead01;
        margin-top: 24px;

        @include config.breakpoint {
            margin-top: 12px;
        }
    }
}