@use "../config" as config;

.l-footer-icon {
    display: block;
    position: absolute;
    text-decoration: none;
    z-index: 100;
    bottom: 45px;
    right: 45px;

    @include config.breakpoint-sp {
      bottom: 70px;
      right: 10px;
    }

    a {
      background: none;
      height: auto;
      line-height: 1;
      width: auto;

      &::before {
        display: none;
      }

      img {
        @include config.breakpoint-sp {
          width: 90px;
        }
      }
    }
  }

.l-partners-index {
  padding-bottom: 60px;
}