@charset "utf-8";

/* ----------------------------------------------------------------------
 基本設定
---------------------------------------------------------------------- */
/* レイアウト */
#main_contents { width:auto !important; margin:0 50px; padding:0 0 100px; }
#main_col { width:calc(100% - 400px); }
#side_col { width:350px; }
body.layout_type3 #main_col { width:100%; max-width:1000px; }
@media screen and (max-width:1050px) {
  #main_col { float:none !important; width:auto; max-width:800px; margin:0 auto 50px; }
  #side_col { float:none !important; width:auto; max-width:800px; margin:0 auto; }
}
@media screen and (max-width:950px) {
  #main_contents { }
  #main_col { margin:0 auto 50px; }
}
@media screen and (max-width:750px) {
  #main_contents { margin:0 20px; padding:0 0 40px; }
  #main_col { margin:0 auto 40px; }
  #side_col { max-width:450px; }
  #blog_single #main_contents, #news_single #main_contents { margin:0; }
  #blog_single #side_col, #news_single #side_col { padding:0 20px; }
}
@media screen and (max-width:500px) {
  #side_col { max-width:100%; }
}



/* ドロワーメニュー */
#drawer_menu {
  display:block; position:fixed; top:0px; right:-400px; width:400px; height:100%; background:#333; overflow:auto; z-index:9999;
  -webkit-transition:right 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000); transition:right 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-backface-visibility: hidden; backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
.open_menu #drawer_menu { right:0; box-shadow:-5px 0 20px 0 rgba(0,0,0,0.4); }
@media screen and (max-width:500px) {
  #drawer_menu { right:-80%; width:80%; }
}


/* ドロワーメニュー展開時のオーバーレイ */
.open_menu #container:before {
  content:''; display:block; width:100%; height:100%; position:fixed; top:0px; left:0px; background:rgba(0,0,0,0.6); z-index:9999;
}
/* safariとedgeのみ背景をぼかす */
_::-webkit-full-page-media, _:future, :root .open_menu #container:before { background:rgba(0,0,0,0.6); -webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); }
@supports (-ms-ime-align: auto) {
  .open_menu #container:before { background:rgba(0,0,0,0.6); -webkit-backdrop-filter:blur(10px); backdrop-filter:blur(10px); }
}
/* ぼかしはここまで */


/* ドロワーメニューのスクロールバー */
.simplebar-scrollbar:before { background:#fff !important; }


/* admin bar利用時 */
body.admin-bar { padding-top:32px; }
body.admin-bar.header_fix_mobile #header { margin-top:32px; }
body.admin-bar #drawer_menu { padding-top:32px; }
.mobile body.admin-bar.header_fix_mobile { padding-top:102px; }
@media screen and (max-width:781px) {
  body.admin-bar { padding-top:46px; }
  body.admin-bar.header_fix_mobile #header { margin-top:46px; }
  body.admin-bar #drawer_menu { padding-top:46px;}
  body.admin-bar.fixed_find_menu #find_menu_wrap { top:46px; }
  body.admin-bar.fixed_find_menu { padding-top:106px; }
  .mobile body.admin-bar.header_fix_mobile { padding-top:126px; }
}




/* ----------------------------------------------------------------------
 ランキングページ
---------------------------------------------------------------------- */
#ranking_page { width:auto; padding:0 0 100px; }
.ranking_content, .ranking_free_space { width:auto !important; margin:0 50px; }
.ranking_free_space.type2 { margin-left:0; margin-right:0; }
.product_ranking_list_top .item .image_wrap { width:50%; }
.product_ranking_list_top .item .title_area { width:50%; }
.product_ranking_list_top .rank_number { width:50%; }
.product_ranking_list_top .item .title_area_inner { padding:0 30px; }
.product_ranking_list_top .item .desc { max-height:6em; overflow:hidden; visibility:visible; }
.product_ranking_list_top .item .desc span { display:-webkit-inline-box; -webkit-box-orient:vertical; -webkit-line-clamp:3; }
@media screen and (max-width:1050px) {
  .product_ranking_list_top { }
  .product_ranking_list_top .item { width:calc(50% - 15px); height:auto; margin:0 30px 30px 0; }
  .product_ranking_list_top .item:nth-child(2n) { margin-right:0; }
  .product_ranking_list_top .item .image_wrap { float:none; width:100%; height:180px; }
  .product_ranking_list_top .item .title_area { float:none; width:100%; height:180px; border:1px solid #ddd; border-top:none; }
  .product_ranking_list_top .rank_number { width:100%; top:180px; }
  .product_ranking_list_top .item .title_area_inner { padding:0 30px; position:relative; top:70px; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%); }
  .product_ranking_list_top .item .desc { max-height:4em; }
  .product_ranking_list_top .item .desc span { -webkit-line-clamp:2; }
}
@media screen and (max-width:750px) {
  #ranking_page { padding-bottom:40px; }
  .ranking_content { width:auto; margin:0 20px; }
  .product_ranking_list_top { max-width:450px; margin:0 auto; }
  .product_ranking_list_top .item { width:100%; height:auto; margin:0 0 20px 0; }
  .product_ranking_list_top .item:last-of-type { margin:0; }
  .product_ranking_list_top .item .image_wrap { height:160px; }
  .product_ranking_list_top .rank_number { top:160px; }
  .product_ranking_list_top .item .title_area { height:155px; }
  .product_ranking_list_top .item .title_area_inner { padding:0 20px; position:relative; top:60px; }
  .product_ranking_list_top .icon { width:60px; height:60px; left:10px;}
  .product_ranking_list_top .icon span { font-size:10px; }
}


/* カテゴリーランキング */
.category_ranking_list { }
.category_ranking_list .product_ranking_list { width:calc(100% / 3 - 12px); margin:0 18px 20px 0; float:left; }
.category_ranking_list .product_ranking_list:nth-of-type(3n) { margin-right:0; }
.category_ranking_list .product_ranking_list .image_wrap { width:120px; height:100px; }
.category_ranking_list .product_ranking_list .rank_number { width:120px; }
.category_ranking_list .product_ranking_list .title_area { width:calc(100% - 120px); }
.category_ranking_list .product_ranking_list .icon { width:60px; height:60px; left:10px; }
.category_ranking_list .product_ranking_list .icon span { font-size:10px; }
.category_ranking_list .product_ranking_list .item .title_area_inner { padding:0 20px; }
.category_ranking_list .product_ranking_list .rank_number .label { font-size:12px; }
.category_ranking_list .product_ranking_list .rank_number .num { font-size:24px; }
@media screen and (max-width:1050px) {
  .category_ranking_list .product_ranking_list { width:calc(50% - 12px); margin:0 18px 18px 0; }
  .category_ranking_list .product_ranking_list:nth-of-type(3n) { margin-right:18px; }
  .category_ranking_list .product_ranking_list:nth-child(2n) { margin-right:0; }
}
@media screen and (max-width:750px) {
  .category_ranking_list { margin:0; }
  .category_ranking_list .product_ranking_list { width:auto; max-width:450px; margin:0 auto 40px !important; float:none; }
  .category_ranking_list .product_ranking_list:last-of-type { margin-bottom:0 !important; }
  .category_ranking_list .product_ranking_list .headline { padding:17px 0; }
  .category_ranking_list .product_ranking_list .item:last-of-type { margin:0; }
}



/* ----------------------------------------------------------------------
 デザインページ１
---------------------------------------------------------------------- */

/* コンテンツ1 */
.design1_content1 { width:auto !important; }
.design1_content1 .content_header { width:auto !important; margin:0 50px; }
.design1_content1 .item_list { width:auto; margin:90px 50px 0; }
@media screen and (max-width:1050px) {
  .design1_content1 { padding:60px 20px; }
  .design1_content1:last-of-type { padding-bottom:60px; }
  .design1_content1 .item_list { margin:60px 50px 0; }
  .design1_content1 .item {
    width:100%; margin:0 0 30px 0; padding:0 0 10px 0; float:none; border-bottom:1px solid #ddd;
    display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
    -ms-flex-wrap:wrap; -webkit-flex-wrap:wrap; flex-wrap:wrap;
  }
  .design1_content1 .item .image { width:40%; }
  .design1_content1 .item .content {
    width:60%; padding:0 0 0 50px;
    -webkit-box-sizing:border-box; box-sizing:border-box;
  }
  .design1_content1 .item:nth-child(2n) { flex-direction:row-reverse; }
  .design1_content1 .item:nth-child(2n) .content { padding:0 50px 0 0; }
  .design1_content1 .item:last-of-type { border:none; }
}
@media screen and (max-width:750px) {
  .design1_content .top_headline.type1 { width:120px; height:120px; margin:0 auto 10px; }
  .design1_content .top_headline.type2 { min-width:120px; height:45px; line-height:45px; margin:0 auto 25px; }
  .design1_content1 .content_header { margin:0 20px; }
  .design1_content1 { padding:40px 20px; }
  .design1_content1:last-of-type { padding-bottom:40px; }
  .design1_content1 .item_list { width:auto; margin:35px auto 0; max-width:450px; }
  .design1_content1 .item { display:block; border:none; padding:0; margin:0 0 35px; }
  .design1_content1 .item .image { width:100%; height:160px; margin:0 0 15px; }
  .design1_content1 .item .content { width:100%; padding:0 !important; }
  .design1_content1 .item .desc { margin:10px 0 0 0; }
  .design1_content1 .link_button a { font-size:14px; min-width:200px; height:45px; line-height:45px; padding:0 20px; }
}


/* コンテンツ2 */
.design1_content2 { width:auto !important; }
.design1_content2 .cb_contents_inner { margin:0 50px; width:auto !important; }
.design1_content2.text_layout_type1 .content { padding:0 25px 0 0; }
.design1_content2.text_layout_type3 .content { padding:0 0 0 25px; }
.design1_content2 .layer_image img { max-width:50%; }
.design1_content2.image_layout_type2 .layer_image img { max-width:70%; }
@media screen and (max-width:750px) {
  .design1_content2 .content { padding:0 !important; width:auto; top:50px; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%); }
  .design1_content2.text_layout_mobile_type2 .content { text-align:center; }
  .design1_content2.text_layout_mobile_type3 .content { text-align:right; }
  .design1_content2.text_layout_type2.no_layer_image .content { left:50%; top:50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .design1_content2 .desc { margin:10px 0 0 0; }
  .design1_content2 .content .link_button { margin:20px 0 0 0; }
  .design1_content2 .link_button a { font-size:14px; min-width:200px; height:45px; line-height:45px; padding:0 20px; }
  .design1_content2 .bg_image.pc { display:none; }
  .design1_content2 .bg_image.mobile { display:block; }
  .design1_content2 .layer_image img { max-width:calc(100% - 50px); margin-bottom:0px; }
  .design1_content2.image_layout_type2 .layer_image img { max-width:calc(100% - 100px); }
  .design1_content2 .layer_image img.pc { display:none; }
  .design1_content2 .layer_image img.mobile { display:block; }
  .design1_content2 .layer_image { -ms-align-items:flex-end !important; -webkit-align-items:flex-end !important; align-items:flex-end !important; }
  .design1_content2.image_layout_mobile_type1 .layer_image { -ms-justify-content:flex-start; -webkit-justify-content:flex-start; justify-content:flex-start; }
  .design1_content2.image_layout_mobile_type2 .layer_image { -ms-justify-content:center; -webkit-justify-content:center; justify-content:center; }
  .design1_content2.image_layout_mobile_type3 .layer_image { -ms-justify-content:flex-end; -webkit-justify-content:flex-end; justify-content:flex-end; }
}


/* コンテンツ3 */
.design1_content3 { width:auto !important; margin:0 50px; }
.design1_content3 .content_header { width:auto !important; }
.design1_content3.width_type2 { margin-right:0; margin-left:0; }
@media screen and (max-width:750px) {
  .design1_content3 { margin:0 20px; }
  .design1_content3 { padding:40px 0 40px; }
  .design1_content3 + .design1_content3 { margin-top:-40px; }
  .design1_content3:last-of-type { padding-bottom:40px; }
  .design1_content3 .post_content { border-top:1px solid #ddd; margin:20px 0 0 0; padding:25px 0 0 0; }
  .design1_content3 .link_button { margin-top:40px; }
  .design1_content3 .link_button a { font-size:14px; min-width:200px; height:45px; line-height:45px; padding:0 20px; }
  .design1_content3 .lp_pag_list .left_box { width:90px; padding:20px; }
  .design1_content3 .lp_pag_list .right_box { width:calc(100% - 90px); font-size:12px; padding:15px 25px; }
  .design1_content3 .lp_pag_list .left_box .headline { font-size:12px; line-height:2; }
}




/* ----------------------------------------------------------------------
 商品（アーカイブページ）
---------------------------------------------------------------------- */
#product_archive { padding:0 0 150px; width:auto; margin:0 50px; }
@media screen and (max-width:750px) {
  #product_archive { padding:0 0 40px; width:auto; margin:0 20px; }
}




/* ----------------------------------------------------------------------
 商品（詳細ページ）
---------------------------------------------------------------------- */

/* ヘッダー */
body.single-product #page_header .link_button.animate_item { display:inline-block; position:relative; right:auto; top:auto; margin:20px 0 0 0; }
body.single-product #page_header .title_area .link_button { display:none; }
body.single-product #page_header .link_button.animate_item {
  opacity:0; position:relative;
}
body.single-product #page_header .link_button.animate_item.animate {
  -webkit-animation: slideUp 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 1.0s;
  animation: slideUp 1.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 1.0s;
}
@media screen and (max-width:750px) {
  body.single-product #page_header .link_button.animate_item { margin:15px 0 0 0; }
}
@media screen and (max-width:550px) {
  body.single-product #page_header { height:400px; }
}

/* コンテンツビルダー */
@media screen and (max-width:750px) {
  .product_content { padding:38px 0 32px 0; }
  .product_content .headline_area { margin:0 0 33px 0; }
}


/* 見出し */
#product_single .content_header { margin:0 50px 5px; }
@media screen and (max-width:750px) {
  #product_single .content_header { margin:0 20px; }
}


/* フリーススペース */
@media screen and (max-width:750px) {
  .gray_image_list { margin:35px 0 35px 0; padding:20px; }
  .gray_image_list img { margin:0 auto 20px; }
  .gray_image_list img:last-of-type { margin:0 auto; }
  .cb_product_free .ytube { margin-bottom:35px; }
  .brown_bg_list { margin:32px 0 10px 0; padding:20px 20px 20px; border-radius:10px; line-height:1.8; }
}


/* 特徴一覧 */
@media screen and (max-width:750px) {
  .cb_featured_list .item_list.layout_type2 .item { width:100%; margin:0 0 -1px 0; }
  .cb_featured_list .item .image { width:100px; height:auto; }
  .cb_featured_list .item .content { width:calc(100% - 100px); padding:10px 0; }
}


/* レビュー */
@media screen and (max-width:750px) {
  .cb_product_review .item { padding:13px 20px 15px; line-height:2; }
  .cb_product_review .rating, .cb_product_review .date { margin-left:14px; }
  .cb_product_review .vote_headline { margin:14px 0 0 0; }
  .cb_product_review .page_navi { margin:30px 0 0 0; }

}


/* 関連商品 */
#related_product .product_list { width:auto; margin:0 50px; }
@media screen and (max-width:750px) {
  #related_product { padding:40px 0; }
  #related_product .headline { margin:0 0 37px 0; }
  #related_product .product_list { margin:0 20px; }
}


/* サイドコンテンツ */
@media screen and (max-width:750px) {
  #product_side_content .top_area { padding:30px 30px 25px; }
  #product_side_content .middle_area { padding:24px 30px; }
  #product_side_content .middle_area .desc { line-height:2; }
  #product_side_content .bottom_area { padding:24px 30px; }
  #product_side_content .bottom_area .desc { line-height:2; }
  #product_side_content .bottom_area .price { margin:0 0 25px 0; }
  #product_side_content .bottom_area .price span { font-size:11px; }
  
}




/* ----------------------------------------------------------------------
 トップページ（ヘッダーコンテンツ）
---------------------------------------------------------------------- */
#header_slider { height:750px; padding:0px; margin:0; }
#header_slider .item { height:750px; }
#header_slider .caption { width:auto; }
#header_slider .layer_image img { max-width:50%; }
#header_slider .item.image_layout_type2 .layer_image img { max-width:70%; }
#header_slider .item.text_layout_type1 .caption_inner { padding-left:50px; }
#header_slider .item.text_layout_type2 .caption_inner { padding:50px; }
#header_slider .item.text_layout_type3 .caption_inner { padding-right:50px; }
@media screen and (max-width:750px) {
  #header_slider .caption_inner {
    width:100%; padding:0 30px !important; min-width:inherit;
    top:50px !important; -ms-transform: translateY(0%) !important; -webkit-transform: translateY(0%) !important; transform: translateY(0%) !important;
  }
  #header_slider .item.no_layer_image .caption_inner { top:50% !important; -ms-transform: translateY(-50%) !important; -webkit-transform: translateY(-50%) !important; transform: translateY(-50%) !important; }
  #header_slider .item.text_layout_mobile_type1 .caption { text-align:left; }
  #header_slider .item.text_layout_mobile_type2 .caption { text-align:center; }
  #header_slider .item.text_layout_mobile_type3 .caption { text-align:right; }
  #header_slider .desc { margin:10px 0 0 0; }
  #header_slider .desc p.pc { display:none; }
  #header_slider .desc p.mobile { display:block; }
  #header_slider .button { font-size:14px; min-width:200px; height:45px; line-height:45px; padding:0 20px; margin-top:20px; }
  #header_slider .bg_image.pc { display:none; }
  #header_slider .bg_image.mobile { display:block; }
  #header_slider .layer_image img { max-width:calc(100% - 50px); margin-bottom:0px; }
  #header_slider .item.image_layout_type2 .layer_image img { max-width:calc(100% - 100px); }
  #header_slider .layer_image img.pc { display:none; }
  #header_slider .layer_image img.mobile { display:block; }
  #header_slider .layer_image { -ms-align-items:flex-end !important; -webkit-align-items:flex-end !important; align-items:flex-end !important; }
  #header_slider .item.image_layout_mobile_type1 .layer_image { -ms-justify-content:flex-start; -webkit-justify-content:flex-start; justify-content:flex-start; }
  #header_slider .item.image_layout_mobile_type2 .layer_image { -ms-justify-content:center; -webkit-justify-content:center; justify-content:center; }
  #header_slider .item.image_layout_mobile_type3 .layer_image { -ms-justify-content:flex-end; -webkit-justify-content:flex-end; justify-content:flex-end; }
  #header_slider .slick-dots { display:none !important; }
  #header_slider .image.mobile { display:block; }
}


/* ヘッダーカルーセル */
@media screen and (max-width:650px) {
  #header_carousel_wrap { padding:0 10px 10px; }
  #header_carousel_wrap .headline { font-size:16px; height:50px; line-height:50px; }
  #header_carousel .item { width:auto; height:102px; }
}


/* ニュースティッカー */
#index_news { height:70px; width:auto; }
#index_news_inner { width:auto; padding:0 20px; }
#index_news_slider { width:auto; }
#index_news_slider .item { height:70px; position:relative; }
#index_news_slider a {
  height:auto; line-height:1; text-align:left; text-overflow:clip; white-space:normal;
  position:absolute; top:50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%);
}
#index_news_slider a .date { display:block; margin:5px 0; }
#index_news_slider a .title { font-size:14px; font-weight:500; display:block; max-height:1.5em; line-height:1.5; overflow:hidden; visibility:visible; }
#index_news_slider a .title span { display:-webkit-inline-box; -webkit-box-orient:vertical; -webkit-line-clamp:1; }




/* ----------------------------------------------------------------------
 トップページ（コンテンツビルダー）
---------------------------------------------------------------------- */
/* 共通パーツ */
.cb_contents_inner { width:auto; }
@media screen and (max-width:750px) {
  .cb_contents .link_button a { font-size:14px; min-width:200px; height:45px; line-height:45px; padding:0 20px; }
}


/* レイヤー画像コンテンツ */
.index_layer_content { width:100%; }
.index_layer_content .cb_contents_inner { margin:0 50px; }
.index_layer_content.text_layout_type1 .content { padding:0 25px 0 0; }
.index_layer_content.text_layout_type3 .content { padding:0 0 0 25px; }
.index_layer_content .layer_image img { max-width:50%; }
.index_layer_content.image_layout_type2 .layer_image img { max-width:70%; }
@media screen and (max-width:750px) {
  .index_layer_content .cb_contents_inner { margin:0 20px; }
  .index_layer_content .content { text-align:center; padding:0 !important; width:100%; top:50px; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%); }
  .index_layer_content.text_layout_mobile_type1 .content { text-align:left; }
  .index_layer_content.text_layout_mobile_type3 .content { text-align:right; }
  .index_layer_content.text_layout_mobile_type2 .content { left:50%; top:50px; -ms-transform: translate(-50%, 0%); -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%); }
  .index_layer_content.text_layout_mobile_type2.no_layer_image .content { left:50%; top:50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .index_layer_content .desc { margin:10px 0 0 0; }
  .index_layer_content .content .link_button { text-align:center; margin:20px 0 0 0; }
  .index_layer_content .bg_image.pc { display:none; }
  .index_layer_content .bg_image.mobile { display:block; }
  .index_layer_content .layer_image img { max-width:calc(100% - 50px); margin-bottom:0px; }
  .index_layer_content.image_layout_type2 .layer_image img { max-width:calc(100% - 100px); }
  .index_layer_content .layer_image img.pc { display:none; }
  .index_layer_content .layer_image img.mobile { display:block; }
  .index_layer_content .layer_image { -ms-align-items:flex-end !important; -webkit-align-items:flex-end !important; align-items:flex-end !important; }
  .index_layer_content.image_layout_mobile_type1 .layer_image { -ms-justify-content:flex-start; -webkit-justify-content:flex-start; justify-content:flex-start; }
  .index_layer_content.image_layout_mobile_type2 .layer_image { -ms-justify-content:center; -webkit-justify-content:center; justify-content:center; }
  .index_layer_content.image_layout_mobile_type3 .layer_image { -ms-justify-content:flex-end; -webkit-justify-content:flex-end; justify-content:flex-end; }
}


/* 記事スライダー */
.index_post_slider .post_list_slider_wrap { width:auto; }
.index_post_slider .post_list { width:auto; margin:0 20px 0 50px; }
.index_post_slider .item { margin:0 30px 0 0; }
.index_post_slider .cb_header { padding:0 50px; }
@media screen and (max-width:750px) {
  .index_post_slider .cb_header { padding:0 20px; margin:0 0 30px 0; }
  .index_post_slider .cb_catch { margin:0 0 0 0; }
  .index_post_slider .cb_desc { margin:25px 0 0px 0; line-height:2; }
  .index_post_slider { padding:40px 0; }
  .index_post_slider .post_list { width:auto; margin:0 18px; padding:0 0 20px; }
  .index_post_slider .item { margin:0; }
  .index_post_slider .item .image_wrap { max-width:450px; margin:0 auto 15px; }
  .index_post_slider .item .title_area { max-width:450px; margin:0 auto; }
  .index_post_slider .desc { margin-top:10px; }
  .index_post_slider .nav_area { height:42px; }
  .index_post_slider .carousel_arrow { width:40px; height:40px; }
  .index_post_slider .carousel_arrow:before { top:-1px; }
  .index_post_slider .carousel_arrow.next_item:before { left:1px; }
  .index_post_slider .carousel_arrow.prev_item:before { left:-1px; }
}


/* 商品一覧 */
.index_product_list { padding:100px 50px; -webkit-box-sizing:border-box; box-sizing:border-box; }
@media screen and (max-width:950px) {
  .product_list .item { width:calc(50% + 1px); }
}
@media screen and (max-width:750px) {
  .index_product_list .cb_catch { max-width:450px; margin:0 auto; }
  .index_product_list { padding:35px 20px 40px !important; -webkit-box-sizing:border-box; box-sizing:border-box; }
  .index_product_list .cb_desc { max-width:450px; line-height:2; margin:15px auto 0px; }
  .index_product_list .product_list { margin-top:30px; }
  .product_list .item { float:none; max-width:450px; width:100%; height:287px; margin:0 auto -1px; }
  .product_list .image_wrap { height:159px; }
  .product_list .title { height:50px; }
  .product_list .desc_area { padding:10px 20px; height:78px; }
  .index_product_list .link_button { margin:40px 0 0 0; }
}
@media screen and (max-width:500px) {
  .product_list .item { max-width:100%; width:100%; }
}


/* フリースペース */
.index_free_space .cb_contents_inner { width:auto; padding:0 50px; }
.index_free_space.type2 .cb_contents_inner { padding:0; }
.index_free_space .cb_catch { margin:0 0 30px; }
.index_free_space.type2 .cb_catch { margin:0 50px 30px; }
@media screen and (max-width:750px) {
  .index_free_space .cb_contents_inner { padding:0 20px; }
  .index_free_space.type2 .cb_contents_inner { padding:0; }
  .index_free_space .cb_catch { margin:0 0 25px; }
  .index_free_space.type2 .cb_catch { margin:0 20px 25px; }
}


/* トップコンテンツ */
#tcd_cb_top_content { margin:0 -50px; }
@media screen and (max-width:750px) {
  #tcd_cb_top_content { margin:0 -20px; }
  #tcd_cb_top_content .desc { margin:0 0 115px 0; }
  #tcd_cb_top_content .image.pc { display:none; }
  #tcd_cb_top_content .image.mobile { display:block; }
}




/* ----------------------------------------------------------------------
 ページヘッダー
---------------------------------------------------------------------- */
#page_header { height:400px; }
#page_header_inner { width:auto !important; margin:0 50px; }
#page_header .title_area { height:50px; }
#page_header .title_area_inner { height:50px; width:auto; }
#page_header .title { line-height:50px; }
#page_header .layer_image img { max-height:calc(100% - 40px); max-width:calc(100% - 150px); }
@media screen and (max-width:750px) {
  #page_header_inner { width:auto; margin:0 30px; }
  #page_header .bg_image.pc { display:none; }
  #page_header .bg_image.mobile { display:block; }
  #page_header .caption { text-align:center !important; top:40px; -ms-transform: translateY(0%); -webkit-transform: translateY(0%); transform: translateY(0%); }
  #page_header.no_layer_image .caption { top:50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  #page_header .caption .sub_title { margin:0 0 12px 0; }
  #page_header .caption .link_button { margin:0; }
  #page_header .desc .pc { display:none; }
  #page_header .desc .mobile { display:block; }
  #page_header .layer_image img { margin-bottom:30px; max-height:200px; max-width:inherit; }
  #page_header.image_layout2_type3 .layer_image img { margin-bottom:0; }
  #page_header .layer_image img.pc { display:none; }
  #page_header .layer_image img.mobile { display:block; }
  #page_header .layer_image { -ms-align-items:flex-end !important; -webkit-align-items:flex-end !important; align-items:flex-end !important; }
  #page_header.image_layout_mobile_type1 .layer_image { -ms-justify-content:flex-start; -webkit-justify-content:flex-start; justify-content:flex-start; }
  #page_header.image_layout_mobile_type2 .layer_image { -ms-justify-content:center; -webkit-justify-content:center; justify-content:center; }
  #page_header.image_layout_mobile_type3 .layer_image { -ms-justify-content:flex-end; -webkit-justify-content:flex-end; justify-content:flex-end; }
}
@media screen and (max-width:550px) {
  #page_header { height:400px; }
  #page_header.no_layer_image { height:250px; }
}


/* コンテンツの見出し */
@media screen and (max-width:750px) {
  .content_header { padding:30px 0; }
  .content_header .catch { line-height:1.5; }
  .content_header .desc { margin:5px 0 0 0; }
  .content_header .catch .pc { display:none; }
  .content_header .desc .pc { display:none; }
  .content_header .catch .mobile { display:block; }
  .content_header .desc .mobile { display:block; }
}


/* コンテンツリンクボタン */
#header_category_button_wrap {
  height:50px; top:-50px; overflow:auto;
  -webkit-backface-visibility: hidden; backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
#header_category_button_wrap.animate { top:0; }
#header_category_button { height:50px; width:100%; }
#header_category_button ol { position:relative; z-index:3; width:100%; height:50px;
  display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
  -ms-flex-wrap:nowrap; -webkit-flex-wrap:nowrap; flex-wrap:nowrap;
}
#header_category_button ol li, #header_category_button.type2 ol li { -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }
#header_category_button a { height:50px; line-height:50px; padding:0 15px; white-space:nowrap; }
#header_category_button .slide_item { height:50px; }


/* ----------------------------------------------------------------------
 サポート（アーカイブページ）
---------------------------------------------------------------------- */
#support_archive { padding:85px 0 100px; width:auto; margin:0 50px; }
@media screen and (max-width:750px) {
  #support_archive { padding:30px 0 40px; width:auto; margin:0 20px; }
  #support_archive .list_header { margin:0 0 30px 0; }
  #support_archive .list_header .catch { }
  #support_archive .list_header .desc { margin:5px 0 0 0; }
  .support_list .question { padding:15px 40px 12px 49px; }
  .support_list .question:before { width:9px; left:20px; top:50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .support_list .question:after { height:9px; left:24px; top:50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
  .support_list .answer { padding:15px 25px 10px; }
  .support_list .date { margin:0 0 0 0; display:block; font-size:12px; }
}




/* ----------------------------------------------------------------------
 ブログアーカイブページ
---------------------------------------------------------------------- */
/* アーカイブページ */
#blog_list { width:auto; margin:0 50px; }
#blog_list .item { width:calc(100% / 3 - 20px); margin:0 30px 30px 0; }
#blog_list .item:nth-child(3n) { margin-right:0; }
@media screen and (max-width:950px) {
  #blog_list .item { width:calc(50% - 20px); margin:0 30px 30px 0; }
  #blog_list .item:nth-child(3n) { margin-right:30px; }
  #blog_list .item:nth-child(2n) { margin-right:0; }
}
@media screen and (max-width:750px) {
  #blog_archive { margin:0 auto; padding:40px 0; }
  body.no_page_nav #blog_archive { padding-bottom:10px; }
  #blog_list { margin:0 20px; }
}
@media screen and (max-width:550px) {
  #blog_list .item { width:100%; margin:0 0 30px 0; }
  #blog_list .item:nth-child(3n) { margin-right:0; }
  #blog_list .item:nth-child(2n) { margin-right:0; }
  #blog_list .image_wrap { height:160px; margin:0 0 15px 0; }
  #blog_list .title { height:auto; }
  #blog_list .desc { height:auto; margin:7px 0 0 0; }
}


/* ページナビ */
.page_navi { margin:30px 0 0; }
@media screen and (max-width:750px) {
  .page_navi { margin:10px 0 0; }
}


/* 記事が無い場合に表示するメッセージ */
@media screen and (max-width:750px) {
  #no_post { margin-bottom:0px; }
}


/* ----------------------------------------------------------------------
 お知らせ
---------------------------------------------------------------------- */
@media screen and (max-width:1050px) {
  #news_archive { padding:15px 0 0 0; }
}
@media screen and (max-width:750px) {
  #news_archive { padding:0; }
  #news_archive #main_col { border:none; padding:0; margin:0 -20px 40px; background:none; }
  #news_archive #bread_crumb { display:none; }
  #news_archive .headline { margin:0; padding:37px 0; background:#fff; }
  #news_archive .page_navi { margin:40px 0 0 0; }
}


/* 記事一覧 */
#news_list .image_wrap { width:50%; }
#news_list .title_area { width:50%; }
@media screen and (max-width:750px) {
  #news_list .item a { height:130px; }
  #news_list .title_area { border-right:none; }
  #news_list .title_area_inner { padding:0 20px; }
}


/* 詳細ページ */
@media screen and (max-width:1050px) {
  #news_single { padding:15px 0 0 0; }
}
@media screen and (max-width:750px) {
  #news_single { padding:2px 0 0 0; }
}



/* ----------------------------------------------------------------------
 ヘッダー（固定ヘッダー）
---------------------------------------------------------------------- */
#header_top { display:none; }
#header_bottom { }
#header_bottom_inner { width:auto; height:60px; position:relative; }
#header a { color:#000; }
.mobile .header_fix_mobile { padding-top:60px; }
.mobile .hide_header.header_fix_mobile { padding-top:0 !important; }
.header_fix_mobile #header {
  position:fixed !important; top:0px; left:0px; z-index:200; width:100%; box-shadow:0 0 15px 5px rgba(0,0,0,0.1); border:none;
  -webkit-animation: slide_down_menu 0.5s ease; animation: slide_down_menu 0.5s ease;
}
.mobile .use_fixed_content_link.header_fix_mobile { padding-top:0px; }
.mobile .use_fixed_content_link.header_fix_mobile #header { position:relative !important; }
@-webkit-keyframes slide_down_menu {
  0% { top:-60px; }
  100% { top:0px; }
}
@keyframes slide_down_menu {
  0% { top:-60px; }
  100% { top:0px; }
}


/* ロゴ */
#header_logo { width:auto; height:60px; left:20px; }
#header_logo .pc_logo_image { display:none; }
#header_logo .pc_logo_text { display:none; }
#header_logo .mobile_logo_image { display:block; left:0; right:0; top:50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); position:absolute; max-width: inherit; }
#header_logo .mobile_logo_text { display:block; line-height:60px; }


/* 言語ボタン */
#lang_button_mobile { display:none; background:#000; position:absolute; right:0; top:60px; width:100%; z-index:9999; opacity:1; }
#lang_button_mobile li { float:none; margin:0; padding:0; border-bottom:1px solid #555; }
#lang_button_mobile li a { display:block; font-weight:normal; height:50px; line-height:50px; padding:0 20px; color:#fff; }
#lang_button_mobile li:last-of-type { border-bottom:none; }
#lang_button_mobile li.active a { color:#999; pointer-events:none; }
#lang_mobile_button { width:60px; height:60px; position:absolute; right:40px; top:0px; display:block; z-index:100; }
#lang_mobile_button:before {
  font-family:'design_plus'; content:'\e942'; font-size:18px; display:block; position:absolute; top:23px; left:20px; color:#000;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
#lang_mobile_button:hover:before, #lang_mobile_button.active:before { color:#ccc; }


/* メニューボタン */
#menu_button {
  position:absolute; z-index:50; right:0px; bottom:0px;
  display:inline-block; font-size:11px; width:60px; height:60px; line-height:60px; text-decoration:none; text-align:center;
}
#menu_button span {
  width:22px; height:2px; background:#000; display:block; position:absolute;
  -webkit-transition-property:background-color; -webkit-transition-duration:0.2s; -webkit-transition-timing-function:ease;
  transition-property:background-color; transition-duration:0.2s; transition-timing-function:ease;
}
#menu_button span:nth-child(1) { top:25px; left:20px; }
#menu_button span:nth-child(2) { top:31px; left:20px; }
#menu_button span:nth-child(3) { top:37px; left:20px; }
#menu_button:hover span { background:orange; }


/* グローバルメニュー */
#header #global_menu { display:none; }
#mobile_menu { width:100%; margin:0; }
#mobile_menu ul { margin:0; }
#mobile_menu li ul { display:none; }
#mobile_menu a {
  position:relative; display:block;  margin:0; padding:18px 20px; line-height:1.6; overflow:hidden; text-decoration:none;
  color:#fff; font-size:13px; border-bottom:1px solid #ddd;
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
#mobile_menu a:hover { color:#fff; }
#mobile_menu ul ul a { padding-left:32px; }
#mobile_menu ul ul ul a { padding-left:47px; }
#mobile_menu ul ul ul ul a { padding-left:60px; }


/* グローバルメニュー（子メニュー） */
#mobile_menu li { position:relative; }
#mobile_menu .child_menu_button { display:block; position:absolute; text-align:center; width:55px; height:55px; right:0px; top:1px; z-index:9; cursor:pointer;  }
#mobile_menu .child_menu_button .icon:before {
  font-family:'design_plus'; content:'\e90e'; color:#fff; text-align:center;
  display:block; font-size:12px; width:12px; height:12px; line-height:12px;
  position:absolute; right:22px; top:25px;
}
#mobile_menu .child_menu_button.active .icon:before, #mobile_menu .child_menu_button:hover .icon:before { color:#fff; border-color:#fff; }
#mobile_menu li.open > .child_menu_button .icon:before { content:'\e911'; }
#mobile_menu li.open > ul {  }
#mobile_menu .child_menu_button:hover { background:rgba(0,0,0,0.2); }


/* ドロワーメニュー　閉じるボタン */
#drawer_menu .close_button { display:block; width:100%; height:60px; position:relative; cursor:pointer; border-bottom:1px solid rgba(255,255,255,0.2); }
#drawer_menu .close_button:before {
  font-family:'design_plus'; color:#fff; font-size:18px; display:block; 
  content:'\e91a'; position:absolute; top:24px; right:17px;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}


/* 検索フォーム */
#footer_search { max-width:300px; height:45px; position:relative; overflow:hidden; background:rgba(255,255,255,0.2); margin:30px auto; }
#footer_search .input_area input {
  width:calc(100% - 45px); color:#fff; height:45px; padding:0 10px; border:none; background:none; z-index:1;
  position:absolute; left:0px; top:0px;
  -webkit-box-sizing:border-box; box-sizing:border-box;
}
#footer_search:hover .input_area input, #footer_search.active .input_area input { left:0px; }
#footer_search .button input { background:none; width:45px; height:45px; border:none; position:absolute; right:0px; pointer-events:none; z-index:2; }
#footer_search .button label { background:none; display:block; width:45px; height:45px; position:absolute; top:0px; right:0px; cursor:pointer; z-index:2; }
#footer_search .button label:before {
  font-family:'design_plus'; color:#fff; font-size:18px; content:'\e915'; display:block; position:relative; top:16px; left:16px;
  -webkit-transition: all 0.2s ease; transition: all 0.2s ease;
}
#footer_search .button label:hover:before { color:#0b8a97; }
@media screen and (max-width:450px) {
  #footer_search { margin:30px 20px; }
}


/* バナー */
#mobile_banner { }
#mobile_banner img { display:block; margin:0 auto; max-width:100%; height:auto; }
#mobile_banner .banner { margin:20px 0; }
@media screen and (max-width:450px) {
  #mobile_banner { margin:0 20px; }
}


/* SNSボタン */
#header_sns { display:none; }

  
/* パンくずリンク */
#bread_crumb { margin:0 50px 13px; width:auto; }
body.layout_type3 #bread_crumb { width:auto; max-width:inherit; margin:0 50px 13px; }
body.layout_type3 #bread_crumb ul { max-width:1000px; margin:0 auto; }
#bread_crumb ul { }
#bread_crumb li { font-size:12px; }
#bread_crumb li a { height:43px; line-height:43px; }
#bread_crumb li:after { height:43px; line-height:43px; margin:0 5px; }
#bread_crumb li.home a:before { font-size:12px; }
@media screen and (max-width:1050px) {
  #bread_crumb { margin:0 50px 13px; }
  #bread_crumb ul { max-width:800px; margin:0 auto; }
  body.layout_type3 #bread_crumb { width:auto; max-width:inherit; margin:0 50px 13px; }
  body.layout_type3 #bread_crumb ul { max-width:inherit; margin:0 auto; }
}
@media screen and (max-width:750px) {
  #bread_crumb { margin:0 20px 2px !important; width:auto; }
  #bread_crumb ul { max-width:inherit; margin:0; }
}


/* メッセージ */
#header_message { padding:10px 0; }
#header_message .post_content { width:auto !important; margin:0 20px !important; }
#header_message.show_close_button .post_content { margin:0 40px !important; }
@media screen and (max-width:750px) {
  #header_message .post_content { line-height:1.8; }
  #header_message.show_close_button .post_content { margin:0 35px !important; }
}




/* ----------------------------------------------------------------------
 ブログ詳細ページ
---------------------------------------------------------------------- */
@media screen and (max-width:1050px) {
  #blog_single { padding:15px 0 0 0; }
}
@media screen and (max-width:750px) {
  #blog_single { padding:2px 0 0 0; }
  #article { background:#fff; padding:0 0 30px 0; }
  #article .post_content { padding:27px 20px 0; }
}


/* タイトル */
@media screen and (max-width:750px) {
  #post_title_area { padding:27px 20px 0; }
  #post_title_area .title { line-height:1.5; }
  #post_title_area .meta { margin:5px 0 0 0; }
}


/* アイキャッチ画像 */
#post_image { height:350px; }
@media screen and (max-width:550px) {
  #post_image { height:207px; margin:27px 0 20px 0; }
}


/* SNSボタン */
#single_share_top { margin:0 50px 45px; }
#single_share_bottom { margin:50px 50px 0; }
@media screen and (max-width:750px) {
  #single_share_top { margin:0 20px 40px; padding:0; }
  #single_share_top .share-top { }
  #single_share_bottom { margin:40px 20px 0; }
  #single_share_bottom .share-btm { margin-bottom:0 !important; padding:0; }
  #single_share_top .mt10, #single_share_top .mt10 { margin:0 !important; }
  #single_share_bottom .mb45, #single_share_bottom .mb45 { margin:0 !important; }
  .share-type1 ul { text-align:center; margin-bottom:-5px !important; }
  .share-type3 ul { text-align:center; margin-bottom:-5px !important; }
  .share-type2 ul.type2 { text-align:center; margin-bottom:-5px !important; }
  .share-type4 ul.type4 { text-align:center; margin-bottom:-5px !important; }
  .sns_default_top  { text-align:center; margin-bottom:-5px !important; }
}
@media screen and (max-width:550px) {
  #single_share_top { margin:0 20px 30px; padding:10px 0 0 0; }
  #single_share_bottom { margin:30px 20px 0; }
}


/* コピーボタン */
#single_copy_title_url_top { margin:0 0 40px; }
#single_copy_title_url_bottom { margin:45px 0 0; }
@media screen and (max-width:750px) {
  #single_copy_title_url_bottom { margin:40px 0 0; }
  #single_copy_title_url_top { margin:0 0 33px; }
  .single_copy_title_url_btn { border-width:2px; font-size:12px; line-height:46px; min-width:250px; }
}
@media screen and (max-width:550px) {
  #single_copy_title_url_top { margin:0 0 25px; }
  #single_copy_title_url_bottom { margin:30px 0 0; }
}


/* メタ情報 */
#post_meta_bottom { padding:15px 20px 13px; margin:50px 0 0; }
#post_meta_bottom li { display:block; margin:0 0 5px 0; padding:0 0 0 25px; border-right:none; }
#post_meta_bottom li:last-child { border:none; margin:0; }
#post_meta_bottom li:before { line-height:1.5; }
@media screen and (max-width:750px) {
  #post_meta_bottom { margin:40px 0 0; }
}


/* 次の記事、前の記事 */
@media screen and (max-width:1050px) {
  #next_prev_post { margin:50px 50px 0; }
  #next_prev_post .item { height:50px; }
  #next_prev_post a { background:#fff; color:#000; border:1px solid #ddd; }
  #next_prev_post .title_area { font-size:12px; margin:0; text-align:center; width:100%; height:50px; }
  #next_prev_post .title { display:none; }
  #next_prev_post .nav { display:block; position:relative; height:50px; line-height:50px; text-align:center; }
  #next_prev_post .image_wrap { display:none; }
  #next_prev_post a:before {
    content:''; font-family:'design_plus'; color:#111; font-size:12px; display:block;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    content:'\e90f'; position:absolute; left:18px; margin-top:2px;
    top:50%; -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%);
  }
  #next_prev_post .next_post a:before { content:'\e910'; left:auto; right:15px; }
  #next_prev_post .next_post { float:right; margin:0; width:50%; position:relative; left:-1px; }
  #next_prev_post .next_post .title_area { margin:0; }
  #next_prev_post .register_link:after { top:16px; right:20px; }
  #next_prev_post .next_post .register_link:after { right:auto; left:20px; }
  body.single-news #next_prev_post .item:last-of-type a { border-left:1px solid #ddd; }
}
@media screen and (max-width:750px) {
  #next_prev_post { margin:40px 20px 0; }
}
@media screen and (max-width:550px) {
  #next_prev_post { margin-top:30px; }
}


/* ページ分割 */
@media screen and (max-width:750px) {
  #post_pagination { padding:5px 0 0 0; }
  #p_readmore { padding:5px 0 0 0; margin:0; }
}
@media screen and (max-width:550px) {
  #post_pagination { padding:0; margin-top:-5px; }
  #p_readmore { padding:0; margin-top:-5px; }
}


/* プロフィール */
#blog_archive .author_profile { width:auto; margin:0 50px 100px; padding:30px; }
@media screen and (max-width:750px) {
  .author_profile { margin:35px 20px 0; padding:25px 20px; display:block; }
  #blog_archive .author_profile { width:auto; margin:0 20px 40px; padding:25px 20px; }
  .author_profile a.avatar { width:100px; height:100px; margin:0 auto; }
  .author_profile .info { padding:0 !important; width:auto; margin:25px 0 0 0; }
  .author_profile .name { font-size:16px; margin:0 0 13px 0; text-align:center; }
  .author_profile .desc { margin:0 0 10px 0; font-size:12px; line-height:2; }
  .author_profile .author_link { text-align:center; }
  .author_profile .author_link li { margin:0 5px; }
}


/* 広告 */
#single_banner_top { width:auto; padding-top:20px; }
#single_banner_bottom { width:auto; margin:50px auto; }
#single_banner_shortcode { width:auto; }
@media screen and (max-width:750px) {
  #single_banner_top { padding:10px 0 30px; width:auto; }
  #single_banner_bottom { margin:40px 0 0; width:auto; }
  #single_banner_shortcode { padding:0 0 20px; }
}


/* 関連記事 */
#related_post { margin:50px 0 0 0; }
@media screen and (max-width:750px) {
  #related_post .headline { padding:0 20px; height:50px; line-height:50px; }
  #related_post { margin:40px 0 0 0; }
  #related_post .image_link { width:50%; }
  #related_post .title_area { width:50%; border-right:none; }
  #related_post .title_area_inner { padding:0 20px; }
  #related_post .title { font-size:14px; max-height:4.8em; }
  #related_post .title span { -webkit-line-clamp:3; }
  #related_post .meta { margin:7px 0 0 0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; visibility:visible; color:#999; }
  #related_post .meta li { float:none; display:inline; margin-right:3px; }
}
@media screen and (max-width:550px) {
  #related_post .item { height:130px; }
}




/* ----------------------------------------------------------------------
 その他のページ
---------------------------------------------------------------------- */
/* 404ページ*/
#page_404_header { height:calc(100vh - 60px); }
body.no_header #page_404_header { height:100vh; }
#page_404_header .catch_area { padding:0 30px; }




/* ----------------------------------------------------------------------
 ウィジェット 
---------------------------------------------------------------------- */
/* 基本設定 */
@media screen and (max-width:1050px) {
  #side_col {
    display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex;
    -ms-flex-wrap:wrap; -webkit-flex-wrap:wrap; flex-wrap:wrap;
    -ms-justify-content:space-between; -webkit-justify-content:space-between; justify-content:space-between;
  }
  #product_side_top { width:calc(50% - 25px); }
  #product_side_content { width:calc(50% - 25px); }
  .widget_content { width:calc(50% - 20px); margin:0 20px 20px 0; }
  .widget_content:nth-child(2n) { margin-right:0; }
  body.single-product .widget_content { width:100%; margin-right:0; }
  .widget_headline { padding:0 20px; height:50px; line-height:50px; }
}
@media screen and (max-width:750px) {
  body.single-product #side_col { flex-direction:column-reverse; }
  #product_side_top { width:100%; margin:0; }
  #product_side_content { width:100%; margin:0 0 30px 0; }
  .widget_content { width:100%; margin:0 0 20px 0; }
}


/* デザインカテゴリー一覧 */
@media screen and (max-width:1050px) {
  .tcd_category_list .child_menu_button { width:50px; height:50px; }
  .tcd_category_list .child_menu_button:before { font-size:14px; top:15px; }
  .tcd_category_list a { padding:0 20px; height:50px; line-height:50px; }
  .tcd_category_list li li a { padding-left:34px; }
  .tcd_category_list li li li a { padding-left:48px; }
  .tcd_category_list li li li li a { padding-left:62px; }
}


/* 検索 */
@media screen and (max-width:1050px) {
  #searchform { height:50px; }
  #searchform #s { height:50px; }
  #searchform #searchsubmit { height:50px; }
  #searchform .submit_button  { height:50px; }
  #searchform .submit_button:before { height:50px; line-height:50px; }
}


/* アーカイブ一覧 */
@media screen and (max-width:1050px) {
  .p-dropdown__title { height:50px; line-height:50px; }
}


/* 広告 */
@media screen and (max-width:1050px) {
  .tcd_ad_widget { background:none; padding:0; }
}


/* ----------------------------------------------------------------------
 フッター
---------------------------------------------------------------------- */
/* フッターカルーセル */
#footer_carousel { width:auto; }
#footer_carousel_inner { width:auto; margin:0 25px; }
#footer_carousel_inner .item { margin:0 25px; }
#footer_carousel_inner .icon { left:-15px; }
#footer_carousel .carousel_arrow.prev_item { left:3px; top:160px; }
#footer_carousel .carousel_arrow.next_item { right:3px; top:160px; }
@media screen and (max-width:950px) {
  #footer_carousel_inner .item .image_wrap { margin:0 auto; }
  #footer_carousel_inner .item a { display:block; margin:0 auto; position:relative; padding-top:15px; }
  #footer_carousel_inner .icon { left:-15px; top:0px; }
  #footer_carousel .carousel_arrow.prev_item { top:140px; }
  #footer_carousel .carousel_arrow.next_item { top:140px; }
}
@media screen and (max-width:750px) {
  #footer_carousel_wrap { position:relative; padding:40px 0 30px; }
  #footer_carousel_inner { width:auto; margin:0 45px; }
  #footer_carousel_inner .item { margin:0 25px; }
  #footer_carousel .headline { display:none; }
  #footer_carousel .carousel_arrow.prev_item { top:65px; left:11px; }
  #footer_carousel .carousel_arrow.next_item { top:65px; right:11px; }
}
@media screen and (max-width:550px) {
  .footer_bg_image.pc { display:none; }
  .footer_bg_image.mobile { display:block; }
}


/* フッター記事一覧 */
#footer_post_list_wrap { background:#000; padding:50px 0; }
#footer_post_list { width:auto; margin:0 50px; }
#footer_post_list .item .image_wrap { width:110px; height:110px; }
#footer_post_list .title_area { width:calc(100% - 110px); height:110px; }
#footer_post_list .category { width:110px; }
#footer_post_list .category a { width:100%; height:30px; line-height:30px; font-size:10px; display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; visibility:visible; }
@media screen and (max-width:950px) {
  #footer_post_list_wrap { padding:40px 0; }
  #footer_post_list .item { float:none; width:100%; max-width:450px; margin:0 auto 10px; }
  #footer_post_list .item:last-of-type { margin:0 auto; }
}
@media screen and (max-width:750px) {
  #footer_post_list { margin:0 20px; }
  #footer_post_list .title { font-weight:500; padding:0 20px; }
}
@media screen and (max-width:500px) {
  #footer_post_list .item { max-width:100%; }
}


/* フッター下部 */
#footer_bottom { width:auto; height:auto; margin:0 auto; padding:30px 0 35px;  }


/* SNSボタン */
#footer_sns { position:relative; top:auto; right:auto; margin-top:30px; }


/* メニュー */
#footer_menu { }
#footer_menu ul { text-align:center; font-size:0; }
#footer_menu li { font-size:14px; display:inline-block; margin:0 17px; line-height:2; }
#footer_menu li a { height:auto; line-height:2; }
@media screen and (max-width:750px) {
  #footer_menu { }
  #footer_menu li { font-size:14px; display:block; margin:0 0 5px 0; line-height:2; }
  #footer_menu li a { display:block; }
  #footer_menu li:last-child { margin:0; }
}

/* コピーライト */
@media screen and (max-width:750px) {
  #copyright { line-height:50px; height:50px; }
}


/* ページ上部へ戻るボタン */
@media screen and (max-width:750px) {
  #return_top a { height:50px; line-height:50px; width:50px; }
}

/* フッターバー */
#dp-footer-bar {
  position:fixed; right:0px; bottom:0px; z-index:999; width:100%;
}
.open_menu #dp-footer-bar { display:none; }
.dp-footer-bar-type1 #dp-footer-bar {
  opacity:0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.dp-footer-bar-type1 #dp-footer-bar.active {
  opacity:1;
}
.dp-footer-bar-type2 #dp-footer-bar {
  -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0);
  -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s;
}
.dp-footer-bar-type2 #dp-footer-bar.active {
  -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
}


/* 固定フッターが有効時、モバイルデバイス調整用 */
body.show_footer_bar { padding-bottom:0px; }
body.show_footer_bar #return_top.active { -webkit-transform: translate3d(0,-55px,0); transform: translate3d(0,-55px,0); }
body.home.show_footer_bar #container { padding-bottom:0px; }
@media screen and (max-width:950px) {
  body.show_footer_bar #footer_button.active { -webkit-transform: translate3d(0,-55px,0); transform: translate3d(0,-55px,0); }
}
/* トップページでは表示しない */
body.show_footer_bar #return_top { display:none !important; }




/* ----------------------------------------------------------------------
 コメント
---------------------------------------------------------------------- */
/* 基本設定 */
#comments { margin:50px 0 0 0; }
@media screen and (max-width:750px) {
  #comments { margin:40px 20px 0; }
  #comments .headline { height:50px; line-height:50px; padding:0 20px; }
}

/* コメント・トラックバックのタブ */
#comment_tab li a, #comment_tab li p { padding:15px 15px; }




/* ----------------------------------------------------------------------
 その他
---------------------------------------------------------------------- */
/*  WordPress プリセットスタイル */
@media screen and (max-width:750px) {
  .post_content p { line-height:1.8; }
  .post_content li, .post_content dt, .post_content dd { line-height:1.8; }
  .post_content td, .post_content th { line-height:1.8; }
}


/* パスワード保護 */
.c-pw__box { padding:20px; margin:0 0 20px 0; }
.c-pw__box-label { display:block; margin:0 0 15px 0; text-align:center; }
.c-pw__box-input { width:calc(100% - 160px); margin:0 10px 0 0; -webkit-box-sizing:border-box; box-sizing:border-box; }
.c-pw__btn--submit { width:150px; min-width:inherit; -webkit-box-sizing:border-box; box-sizing:border-box; }
@media screen and (max-width:750px) {
  .c-pw__box { padding:15px; }
  .c-pw__box-input { width:calc(100% - 105px); margin-right:5px; }
  .c-pw__btn--submit { width:100px; }
}


/* Cardlink style - カードリンクのスタイル */
.cardlink { margin:30px 0 35px !important; padding:15px;  }




