// ********************************************************************************************
//
// color.scss
//
// ********************************************************************************************

// palette
$palette-000: #000;
$palette-FFF: #fff;
$palette-D8D8D8: #d8d8d8; 
$palette-D95289: #d95289;
$palette-D8D8D8: #d8d8d8;
$palette-FFE77F: #ffe77f;

$base-taxt-color: $palette-000;
$base-white-text-color: $palette-FFF;
$base-taxt-pink: $palette-D95289;

$base-background-black: $palette-000;
$base-background-gray: $palette-D8D8D8;
$base-background-pink: $palette-D95289;
$base-background-yellow: $palette-FFE77F;