$BASE_FONT_FAMILY: 'Zen Kaku Gothic New', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-demibold: 600;
$font-weight-bold: 700;

// Image
$IMG_PATH: "../../images/";
